---
import Layout from "@/layouts/Layout.astro";
import Profile from "@/components/players/Profile.astro";
import StatsCard from "@/components/players/StatsCard.astro";
import RangeFilter from "@/components/players/RangeFilter.astro";
import RadarChart from "@/components/players/RadarChart.astro";
import DuoCombinations from "@/components/players/DuoCombinations.astro";
import TrioCombinations from "@/components/players/TrioCombinations.astro";

// Import skeletons
import ProfileSkeleton from "@/components/players/skeletons/ProfileSkeleton.astro";
import RangeFilterSkeleton from "@/components/players/skeletons/RangeFilterSkeleton.astro";
import RadarChartSkeleton from "@/components/players/skeletons/RadarChartSkeleton.astro";
import StatsCardSkeleton from "@/components/players/skeletons/StatsCardSkeleton.astro";
import DuoCombinationsSkeleton from "@/components/players/skeletons/DuoCombinationsSkeleton.astro";
import TrioCombinationsSkeleton from "@/components/players/skeletons/TrioCombinationsSkeleton.astro";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/players");
}

// Get series range from query params
const url = Astro.url.searchParams;
const fromSeriesId = url.get("fromSeriesId");
const toSeriesId = url.get("toSeriesId");
---

<Layout title="Player - Brawl Master Tracker">
  <div class="space-y-8">
    <Profile
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <ProfileSkeleton slot="fallback" />
    </Profile>
    
    <!-- Series Range Filter -->
    <RangeFilter
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <RangeFilterSkeleton slot="fallback" />
    </RangeFilter>

    <!-- Radar Chart -->
    <RadarChart
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <RadarChartSkeleton slot="fallback" />
    </RadarChart>

    <!-- Overall Stats Cards -->
    <StatsCard
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <StatsCardSkeleton slot="fallback" />
    </StatsCard>

    <!-- Duo Combinations -->
    <DuoCombinations
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <DuoCombinationsSkeleton slot="fallback" />
    </DuoCombinations>

    <!-- Trio Combinations -->
     <TrioCombinations
      playerId={id}
      fromSeriesId={fromSeriesId}
      toSeriesId={toSeriesId}
      server:defer
    >
      <TrioCombinationsSkeleton slot="fallback" />
    </TrioCombinations>
  </div>
</Layout>